
.page{
    border:5px solid black;
    width: 800px;
    margin: auto;
    font-family:'source sans pro',calibri, Tahoma, sans-serif;
    font-size: 16px;
    padding: 20px;
    background: white;
}
img{
    border:3px solid black;
    width: 150px;
    float:right;
}
.cordonnées{
    float: left;
}
.section{
    margin-bottom: 70px;
    text-align:justify;
}
h1{
    color:#338888 ;
    
}
h3{
    font-size: 25px;
    color:#338888;
}
h2{
    font-size: 28px;
    color:#338888 ;
    border-bottom: 3px solid;
}
body{
    background-color:gray;
}