body{
    background-color: #f1d29d;
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}
form h1 {
    font-size: 20px;
}
.form.corps-formulaire.boite{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.form.corps-formulaire.boite input{
    margin-top: 5px;
    border:1px solid #C9C9C9
   
}
.error{
    background-color: rgb(247, 165, 212);
    padding : 5px;
    border: rgb black;
}
.resultat {
    background-color: green;
    padding : 5px
    border whait
}
